.footer {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 99;
    background-color: #6C48C5;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}

.sectionTitle {
    font-weight: 600;
    font-size: 20px;
    padding: 5px 0;
}

.copyright_navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.copyright_navigation li,
.footer_navigation li {
    position: relative;
}

.footer_navigation a,
.copyright_navigation a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    padding: 7px 0;
}

.footer_navigation a:hover,
.copyright_navigation a:hover {
    color: #FFFFFF;
    text-decoration: underline;
    text-underline-offset: 2px;
    transform: translateY(-5px);
}

.newsLetter {
    width: 80%;
    min-width: 300px;
    margin: 10px 0;
    padding: 5px;
    display: flex;
    border-radius: 10px;
    background-color: #ffffff;
}

.newsLetter input::placeholder {
    color: gray;
}